/* delete the following line if no text is used
edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #272C34;
	color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.circulinho .ceu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 130px;
	background: #7DDFFC;
}

.circulinho .trianguloUm {
	position: absolute;
	top: 68px;
	left: 35px;
	height: 57px;
	width: 116px;
	background: #F4F4F4;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  animation: sombra-piramide 5s cubic-bezier(0.4, 0, 0.50, 1) infinite;
}
.circulinho .trianguloDois {
	position: absolute;
	top: 67px;
	left: 93px;
	height: 57px;
	width: 58px;
	background: #DDDADA;
  clip-path: polygon(20% 100%, 100% 100%, 0% 0%);
  animation: sombra-piramide 5s cubic-bezier(0.4, 0, 0.50, 1) infinite reverse;
}

.circulinho .chao {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 56px;
	background: #F0DE75;
}

.circulinho {
	position: relative;
	overflow: hidden;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	animation-duration: 5s;
	animation-name: escurece;
	animation-iteration-count: infinite;
}

.circulinho .sombra{
	position: absolute;
	top: 124px;
	left: -80px;
	height: 30px;
	width: 360px;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: 50% 0%;
	clip-path: polygon(110px 0%, 230px 0%, 700px 100%);
  z-index: 2;
  animation: sombra-chao 5s cubic-bezier(0.4, 0, 0.50, 1) infinite;
}

.circulinho .sol {
	position: absolute;
	top: 10px;
	left: 75px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
  background: #FFEF00;
}

@keyframes escurece {
	0% { opacity: 1; }
  70% { opacity: 1; }
  90% { opacity: 0;}
	100% { opacity: 0; }
}

@keyframes sombra-chao {
	0% {
    transform: scaleY(0);
		clip-path: polygon(110px 0%, 230px 0%, 375px 100%);
	}
	30% {
    transform: scaleY(1);
		clip-path: polygon(110px 0%, 230px 0%, 300px 100%);
	}
	40% {
    transform: scaleY(0.5);
	}
	50% {
    transform: scaleY(1);
	}
	100% {
    transform: scaleY(0);
		clip-path: polygon(110px 0%, 230px 0%, -400px 100%);
	}
}

@keyframes sombra-piramide {
  30% {
    background: #F4F4F4;
  }
  70% {
    background: #DDDADA;
  }
}